body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

h1 {
    text-align: center;
}

.operation {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

textarea, input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 1px;
}


button {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 1px;
    cursor: pointer;
    font-size: 14px;
}

button:hover{
    background-color: aliceblue;
}

.buttonGroup{
    padding-left: 20px;
    display: flex;
    gap: 40px;
}

textarea {
    height: 120px;
    width: 100%;
}